{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extends",
          "apply"
        ]
      }
    ],
    "block-no-empty": null,
    "declaration-property-unit-allowed-list": {
      "/.*/": [
        "em",
        "rem",
        "s",
        "ms",
        "vh"
      ]
    }
  }
}
