.root {
    p {
        font-size: 1.125rem;
        line-height: 1.6;
        margin-bottom: 0.5rem;
        color: rgba(0, 0, 0, 0.7);
    }

    h2 {
        font-size: 28px;
        font-weight: 600;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
        font-weight: 600;
    }

    h6 {
        font-size: 18px;
        font-weight: 600;
    }
}
