/* stylelint-disable declaration-property-unit-allowed-list */
.donateButton {
  min-width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.125rem;
  padding-left: 24px;
  padding-right: 24px;
  color: rgb(255 255 255 / 90%) !important;
  border-radius: 50px !important;
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5) !important;
  background-size: 600% !important;
  animation: animate-gradient 16s linear infinite !important;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
