/* stylelint-disable declaration-property-unit-allowed-list */
.donateButton {
  color: rgb(255 255 255 / 90%);
  border-radius: 50px;
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
  background-size: 600%;
  animation: animate-gradient 16s linear infinite;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
