.root {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 1rem;
	padding: 1rem;
	background-color: #64b37c;
	font-family: 'Poppins', sans-serif;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
	border-radius: 5px;

	h1 {
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	.title {
		font-size: 1.25rem;
		font-weight: 500;
	}

	.description {
		max-width: 250px;
		margin-bottom: 1rem;
		font-size: 14px;
	}

	.website {
		margin-top: 2rem;
		transition: 150ms opacity;

		&:hover {
			opacity: 0.7;
		}
	}
}
