@import 'https://unpkg.com/vis-network/styles/vis-network.min.css';

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: #f4f4f4 !important;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: none !important;
}

* {
	box-sizing: border-box;
}
