html,
body {
	padding: 0;
	margin: 0;
	background: #f4f4f4 !important;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: none !important;
}

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  font-display: swap;
}
