html,
body {
  background: #fcfcfc;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-display: swap;
}

img, picture, video, canvas, svg {
  display: block;
  /* stylelint-disable-next-line declaration-property-unit-allowed-list */
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* stylelint-disable-next-line selector-id-pattern */
#root, #__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
p > a {
  color: #3A8159 !important;

  &:hover {
    color: #09622f !important;
  }
}

/* driver.js popover */
.driver-popover {
  /* stylelint-disable-next-line declaration-property-unit-allowed-list */
  max-width: 360px;
}
