name: Code Quality Tests
on:
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgresql://postgres:password@localhost:5432/postgres?schema=public&sslmode=disable
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm ci
      - name: Run Stylelint
        run: npm run stylelint:dry
      - name: Run Eslint
        run: npm run eslint:dry
      - name: Run Typescript
        run: npm run tsc
